<aside class="widget widget-contact">
	<h4 class="widget-title">Welcome</h4>
	<div class="mapouter"><div class="gmap_canvas"><iframe width="300" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=st%20stephen%20the%20first%20martyr%20orthodox%20church%20crawfordsville%20IN&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{position:relative;text-align:right;height:300px;width:300px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:300px;}</style></div>
	<div><a href="https://goo.gl/maps/UvueynfRht92">802 Whitlock Ave. Crawfordsville, IN 47933</a></div>
	<div>We welcome visitors, and those interested in joining us on our journey. If you have any questions, feel free to contact Fr. Joel:
		<div><strong><a href="mailto:weir.joel@gmail.com">weir.joel@gmail.com</a></strong> or <strong><a href="tel:7653668931">(765) 366-8931</a></strong></div>
		Enjoy your visit and may God bless you!</div>

</aside>