{{! You can only change widget title here. Don't change anything else. }}
{{! Setup services in config.hbs and read "Widget: Top Stories" section on the documentation for more info. }}
{{! This is used by assets/js/functions.js }}
<aside class="widget widget-services">
	<h4 class="widget-title">This Week's Events</h4>
	<ul class="services"></ul>
</aside>